<div id="board_<%= column %>" >
	<div class="name_column"> <%= column %> </div> 
	<% stories.each do |story| %>
		<div class="postit">
			<span class="title"><%= story.title %></span>
		</div>
	<%end%> 	    
</div>
