<div class="datagrid">
  <table id="changes">
    <thead>
      <tr>
        <th>Project</th>
        <th>Story</th>
        <th>Parent Story</th>        
        <th>Old Points</th>
        <th>New Points</th>
      </tr>
    </thead>
    <tbody>
      <%= render @changes %>
    </tbody>
  </table>
</div>