<div class="popin-edit-status hidden">
  <div class="status-buttons">
    <% if story.status == "Done" %>
      <div class="button clicked">Done</div>
    <% else %>
      <%= link_to 'Done', "/project/#{story.project.id}/story/#{story.id}/update_status/Done", :remote => true, :class => 'button' %>
    <% end %>
    
    
    <% if story.status == "Doing" %>
      <div class="button clicked">Doing</div>    
    <% else %>
      <%= link_to 'Doing', "/project/#{story.project.id}/story/#{story.id}/update_status/Doing", :remote => true, :class => 'button' %>
    <% end %>
    
    <% if story.status == "To Do" %>
      <div class="button clicked">To Do</div>      
    <% else %>
      <%= link_to 'To Do', "/project/#{story.project.id}/story/#{story.id}/update_status/To Do", :remote => true, :class => 'button' %>    
    <% end %>

  </div>
</div>
