$not-selected: #888;
$selected: #555;

.project-info{
      height: 20px;
       width: 100%;
	margin-top: 80px;
	.button.new-epic {
	       width: 100px;
	       float: left;
    background: #3b3;
         color: #fff;
     font-size: 15px;
     
     &:hover{
        background: #7f7;    
     }
  }
	.button.new-story{
		 float: left;
		margin: 25px 4px 0 0;
		 width: 110px;
	}
}

#filter{
  .loading{
    display: none;
      float:right;
     margin: -4px 10px 0 0;
  }
  
	.button{
		background: $not-selected;
	       color: white;
		    margin: 0 2px;
		     width: 50px;
		list-style-type: none;
		
		&.clicked{
			background: $selected;
		}
	}
}

#stories{
	margin: 120px 0 0 0;
}