  $height_header: 34px;

#stories li.story{
  box-shadow: 2px 5px 10px #999;
}

.story{
	   background: #e5e5e5;
	       border: 1px solid #959595;
	border-radius: 5px;
	   margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
	
	&.epic{
		
		background: #e5e5f0;
	}
	
	.story-header{
		background-image: linear-gradient(bottom, #CCCCCC 0%, #ADADAD 50%, #9E9C9E 100%);
		background-image: -o-linear-gradient(bottom, #CCCCCC 0%, #ADADAD 50%, #9E9C9E 100%);
		background-image: -moz-linear-gradient(bottom, #CCCCCC 0%, #ADADAD 50%, #9E9C9E 100%);
		background-image: -webkit-linear-gradient(bottom, #CCCCCC 0%, #ADADAD 50%, #9E9C9E 100%);
		background-image: -ms-linear-gradient(bottom, #CCCCCC 0%, #ADADAD 50%, #9E9C9E 100%);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #CCCCCC),color-stop(0.5, #ADADAD),color-stop(1, #9E9C9E));
		           color: white;
		          height: $height_header;
		
		> .points {
			   background: #333;
	     border-right: 1pxsolid #333333;
	    border-radius: 4px;
			        float: left;
			  font-weight: bold;
			  line-height: 30px;
			       height: $height_header;
			       margin: 0;
	          padding: 0 5px;
	}
	.title {
		       cursor: default;
			margin-left: 5px;
			      float: left;
			  font-size: 15px;
			font-weight: bold;
			line-height: 30px;
			margin-top:  2px;
	}
		
		.popin-edit-status {
			   background: #CCC;
			       border: 1px solid #555;
			border-radius: 4px;
			        color: black;
			        float: right;
			       height: 28px;
			        right: -100px;
			     position: relative;
			          top: -28px;
			        width: 144px;
			
			.status-buttons{
				 margin: 0;
				padding: 0;
				
				.button{
					background: #888;
					     color: white;
					     float: right;
					 font-size: 12px;
					    height: 20px;
					    margin: 2px 1px 3px 1px;
					     width: 40px;
					
					&.clicked {
						background: #555;
					}
				}
			}
		}
		
		> span.position{
  	     background: #888;
  	  border-radius: 5px;
  	          float: right;
  	    font-weight: bold;
  	    line-height: 20px;
  	         height: 20px;
  	     margin-top: 6px;
  	     margin-right: 2px;
  	        padding: 1px 5px;
  	}
		
		.status{
			   background: #888;
			border-radius: 5px;		
			        color: white;
			       cursor: default;
			        float: right;
			  font-weight: bold;
			  line-height: 20px;
			   margin-top: 6px;
			 margin-right: 2px;
			      padding: 1px 5px;
		}
		.form{
			float:left;
		}
		.deleteStory,
		.editStory,
		.newStory{
  		display: block;
  		  width: 33px;
  		 height: 33px;
  		  float: right;
  		 cursor: pointer;
  		 top: 0.5px;
  		 margin-left: 2px;
  		 
      img{
         left: 0.5px;
          top: 0.5px;
      }
      
      &:hover{
        background: #000;
      }
  		 
		}
	}
	.attributes{
		margin: 0 0 0 20px;
	}
}