<div id="header">
  <%= image_tag "logo.png", :size => '140x35' %>
  <!-- <span class="view">View1</span>
  <span class="view">View2</span>  
  <span class="view">View3</span>     -->
  
  <div class="new-feature">new feature! drag 'n drop on To Do mode!</div>
</div>