<%= image_tag "logo.png", :class => 'splash-image' %>

<div id="select-project">
  http://jusplan.heroku.com/
  <input type="text" name="project_name" value="" id="project_name" placeholder= "project_name" />
  <input type="button" name="go!" value="go!" id="go">
</div>

<span id="contact">
  contact us! <br/>just.plan@hotmail.com
</span>


<script type="text/javascript" charset="utf-8">
    $("#go").live("click", function(){
        var projectName = $("#project_name").val();
        
        $.ajax({
          url: '/home_count/'+projectName,
          type: 'POST',
          complete: function(xhr, textStatus) {
          }
        });
        
        if (projectName) {
            window.location = '/'+projectName;
        };
    });
</script>